.evaluator {
    padding-top: 10px;
}

.headline {
    text-align: left;
    color: black
}

.second-headline {
    text-align: left;
    color: dimgray;
}

.content {
    text-align: left;
    padding-left: 15px;
}

.item {
    padding: 15px;
    margin: 20px;
}